/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';

@import 'flatpickr/dist/flatpickr.min.css';
@import 'flatpickr/dist/themes/airbnb.css'; /* tema clean e responsivo */

html, body, ion-app, ion-content {
  background: var(--app-bg) !important;
  color: var(--app-text);
}

/* Cabeçalhos com vibe do convite */
h1, .display {
  font-family: 'Comic Neue', 'Nunito', sans-serif;
  font-weight: 700;
  letter-spacing: 0.5px;
}

/* Cartões suaves */
.card {
  background: var(--app-card);
  border-radius: 18px;
  padding: 16px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.06);
}

/* Confete discreto no fundo (pontos + traços) */
// ion-content::part(scroll) {
//   background-image:
//     radial-gradient(#ffd75a 2px, transparent 1px),
//     radial-gradient(#6ec1ff 2px, transparent 1px);
//     // radial-gradient(#ff9ecb 2px, transparent 1px);
//   background-position: 0 0, 12px 18px, 24px 6px;
//   background-size: 36px 36px;
//   background-attachment: fixed;
//   opacity: 0.7; /* mais suave */
// }

/* Barra de tabs com um leve vidro */
ion-tab-bar {
  backdrop-filter: saturate(160%) blur(6px);
  border-top: 1px solid rgba(0,0,0,0.06);
}

ion-toolbar[color="primary"] {
  background: linear-gradient(180deg, #ffd75a 0%, #f7ca45 100%);
  color: #1b1b1b;
  font-weight: 700;
}

ion-content.thanks-bg {
  --background: none;
  background: #0b0d12 url("/assets/bg/agradecimento.png") center/contain no-repeat fixed;
  background-attachment: fixed;
}

