<ion-header translucent="true">
  <ion-toolbar color="dark">
    <ion-title>Agradecimento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="thanks-bg" fullscreen>
  <!-- overlay suave para legibilidade -->
  <div class="backdrop"></div>

  <div class="center-wrap">
    <ion-card class="thanks-card" mode="md">
      <ion-card-header>
        <ion-card-title>Obrigado por celebrar o Bilhão comigo!</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p class="lead">
          Valeu por fazer parte desse marco comigo. ter compartilhado segundos desse bilhão com você
          entre risadas, histórias, aventuras e peri(n)pécias ficou claro que cada segundo é valioso, e a vida é muito melhor compartilhada.
        </p>

        <p>
          Aos amigos próximos, aos que chegaram agora, e a todos que moram no meu coração: meu mais sincero muito obrigado.
        </p>

        <p class="tiny">
          P.S.: Tobias e Otto que não puderam vir, também mandam lambeijos (eles tão com crise de identidade).
        </p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
